body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aquamarine;
    background-image: url("https://images.unsplash.com/photo-1561580425-68f0b7cfc4ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-blend-mode: darken;
    background-attachment: fixed;
}

h1 {
    color: rgb(255, 246, 127);
    font-size: 5em;
}

h2 {
    color: darkmagenta;
    font-size: 3em;
}

p {
    color: coral;
    font-size: 100%;
    box-shadow: 100in;
    
} 

ul {
    margin: 50px;
    color: blueviolet;
    
}

li {
    color: rgb(41, 9, 83);
}

ol {
    padding: 50px;

}

  
/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    background-image: url("https://images.unsplash.com/photo-1445217143695-467124038776?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1133&q=80");
    position: absolute;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed */
