body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aquamarine;
}

h1 {
    color: rgb(255, 246, 127);
    font-size: 5em;
}

h2 {
    color: darkmagenta;
    font-size: 3em;
}

p {
    color: coral;
    font-size: 100%;
} 

ul {
    margin: 50px;
    color: blueviolet;
    
}

li {
    color: rgb(41, 9, 83);
}

ol {
    padding: 50px;

}